<li id="application${registeredApplicationInstance.id}">
    <g:link controller="registeredApplication" action="show" id="${registeredApplicationInstance.id}">
    ${registeredApplicationInstance.name}
    </g:link>
</li>